_config.yml
_site/*
*Thumbs.db
Gemfile.lock
_posts/2013-11-14-sample-2.md
_posts/2013-11-14-sample.md
_posts/2013-11-15-configuration.md
_posts/2013-11-15-hello-world.md
_posts/2021-09-04-post-test.md